<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OX.My.MySettings>
            <setting name="Játékmód" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EmberiJátékos" serializeAs="String">
                <value>0 0 1 0 0</value>
            </setting>
            <setting name="Játékosok" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Méret" serializeAs="String">
                <value>25 15</value>
            </setting>
            <setting name="JátékosNév" serializeAs="String">
                <value>|Anna|Bettina|Cecília|Dóra</value>
            </setting>
            <setting name="JátékKövetése" serializeAs="String">
                <value>True</value>
            </setting>
        </OX.My.MySettings>
    </userSettings>
</configuration>